@use '../abstracts' as *;

.best {
    width: 100%;
    background: linear-gradient(10deg,$color-black-5 45%,transparent 0);
    background-color: $color-grey;
    border-top: 9px solid $color-primary-blue;

    @media screen and (max-width: map-get($map: $breakpoint-down, $key: mobile)){
        background: transparent;
        background-color: $color-white;
        padding: $layout-padding-content;
        border: none;
    }
}

.best-container {
    padding-top: 1rem;
    height: 14.75rem;
    color: $color-white;
    background: linear-gradient(10deg,$color-black-5 45%,transparent 0);
    background-color: $color-grey;
    
    h2 {
        font-family: Charter, Sylfaen, Cambria, Georgia, Times, serif;
        font-weight: 400;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    p {
        font-weight: 300;
        font-size: 1.2rem;
        margin-bottom: 1.2rem;
    }

    @media screen and (max-width: map-get($map: $breakpoint-down, $key: mobile)){
        height: 20rem;
        border-top: 9px solid $color-primary-blue;
        border-radius: 5px;

        p {
            margin-bottom: 1.5rem;
        }
    }
}