@use '../abstracts' as *;

.header-container {
    height: 6.25rem;
    width: 100%;
    position: sticky;
    .fa-user-caret {
        display: inline-block;
        color: $color-light-blue;
        margin-left: 0.5rem;
    }
}