@use '../abstracts' as *;

.reviews {
    width: 100%;
    background-color: $color-grey-light;
}

.reviews-container {
    
    
    
    padding-block: $layout-padding-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    @media screen and (max-width: map-get($map: $breakpoint-down, $key: tablet )) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    @media screen and (max-width: map-get($map: $breakpoint-up, $key: mobile )){
        grid-template-columns: 1fr;
    }
}

.review-item {
    p {
        color: $color-greyish-brown;
        font-size: 0.9735;
        margin-bottom: 1rem;
        text-align: center;
    }
}