@use '../abstracts' as *;

.container {
    position: relative;
    padding-inline: $layout-padding-container;
    padding-block: $layout-padding-content;
    max-width: $layout-max-width-container;
    margin: 0 auto;
    padding: 0 $layout-padding-content;
    @media screen and (max-width: map-get($map: $breakpoint-down, $key: desktop))  {
        
        margin:auto;
    }
}